# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
# Backups, Archives and Duplicate Blobs
dist.zip
src/assets_backup/
src/assets/syllabus/
src/assets/**/*.pdf
*.zip

